<!-- <h2>Animations in Angular</h2>
<br />
<button (click)="fadeInOut()">Fade in/out</button> -->

<!-- <div *ngIf="isShow" @fadeIn @fadeOut>This is block with fade in/out</div> -->

<!-- <div
  [@fadeInOut]="isShow ? 'open' : 'close'"
  (@fadeInOut.start)="onAnimationStart($event)"
  (@fadeInOut.done)="onAnimationDone($event)"
>
  This is block with fade in/out
</div> -->

<!-- <div *ngIf="isShow" @fadeInOut>This is block with fade in/out</div> -->

<!-- ================ -->
<!-- <div style="margin: 24px 0;">
  <button (click)="slideShowHide()">Slide show/hide</button>
</div>
<div *ngIf="isShowSlide" @flyInOut style="background-color: burlywood; display: inline-block; padding: 12px 24px;">
  Slide nè ha!!!
</div> -->

<hr>
<h2>NgZone</h2>
<app-grandparent></app-grandparent>
